body {
    background: #CCC;
}

input:focus {
    border: none !imptant;
}


/*清除浮动代码*/

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}


#header{height: 200px;}
.SearchInput {
    width: 560px ;
    height: 40px ;
    border: none ;
    border-radius: 20px ;
    padding-left: 84px ;
    background-color: rgba(255, 255, 255, .82);
    box-sizing: border-box ;
    color: #16A085 ;
    font-size: 16px 
}

#searchChange {
    -webkit-transition: all .2s ease;
    position: absolute;
    top: 15px;
    left: 24px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    color: #ccc;
}

.search-logo {
    height: 40px;
    background-size: 60%;
    background-position: 10px center;
    background-repeat: no-repeat;
}

#infinitySearch {
    background-color: #fff ;
    padding-right: 80px ;
    padding-left: 44px 
}

#searchForm {
    text-align: center;
    width: 700px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: -50px;
}

#searchButton {
    display: inline-block;
    width: 76px;
    height: 40px;
    border-radius: 0 40px 40px 0;
    -webkit-transition: all .2s ease;
    background: url('../../img/newTab/search.png') no-repeat;
    background-color: #2ECC71;
    background-position: center;
    background-size: 35%;
    margin-bottom: 0;
    z-index: 1111;
    position: relative;
    top: 15px;
    left: -80px;
    cursor: pointer;
}
/* .pageConfig{display: none;display: inline-block}
 */
/*书签内容css*/

.container {
    width: 1000px;
    margin: 0 auto;
}

.book-mark {
    background: #FFF;
    padding: 10px;
}

.link-class table {
    display: block;
    border-collapse: collapse;
}

.link-class caption {
    display: block;
    width: 100%;
    position: relative;
    color: red;
    line-height: 40px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
}

.link-class tr {
    font-size: 18px;
}

.link-class tr td {}

.link-class tr td:first-of-type {
    width: 120px;
    text-align: right;
    line-height: 30px;
    vertical-align: top;
    border-right: none;
    position: relative;

}

.link-class tr td:last-of-type {
    border-left: none;
}

.link-class tr td a {
    display: inline-block;
    width: 160px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    border-radius: 10px;
    box-shadow: 0 0 1px transparent;
    background-color: #ececec;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.delete{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url(../../img/newTab/delete.png);
    background-repeat: no-repeat;
    background-size: 100%;


}
.delete.show{display: block;}
.deleteClass{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../../img/newTab/delete.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;  
}
.deleteClass.show{display: block;}
.link-class tr td a:hover {
    transform: scale(1.1);
    background-color: red;
    color: #FFF;
}

.addButton {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 21px;
    cursor: pointer;
    z-index: 1000;
    background-image: url(../../img/newTab/add.png);
    background-size: 100%;
    opacity: 1;
    /*  box-shadow: #e74c3c 0 0 10px; */
    -webkit-transform: rotate(0);
    -webkit-transition: all ease-out .35s;
    border: none;
}

.addButton:hover {
    box-shadow: #e74c3c 0 0 10px;
}

.editButton {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 1000;
    background-image: url(../../img/newTab/edit.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 1;
    /*  box-shadow: #e74c3c 0 0 10px; */
    -webkit-transform: rotate(0);
    -webkit-transition: all ease-out .35s;
    border: none;
}

.editButton:hover {
    box-shadow: #e74c3c 0 0 10px;
}
.saveEdit{
    display: none;
    vertical-align: 12px;
}
.addClassBox {
    display: none;
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
   
    cursor: default;
    z-index: 2000;
    padding: 10px;
    background-color: #000;
/*     filter: alpha(opacity=50);
    opacity: .5;   */  
}
.addForm{text-align: center;}
.addForm-inlineBlock{display: inline-block;}
.red {
    color: red;
    font-size: 16px;
}

.j-alert{display: none;}
.addClassBox form {
    font-size: 16px;
    color: #FFF;
}

.addClassBox form div {
    text-align: left;

}

.addClassBox label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.addClassBox input {
    width: 400px;
    height: 20px;
}

.addClassBox .save-link,
.addClassBox .cancel-link {
    width: 70px;
    height: 30px;
    vertical-align: 1px;
}

.addClassBox select {
    width: 100px;
    height: 30px;
    font-size: 16px;
}

.addClassBox select option {
    text-align: center;
}

.add-class-input.short {
    width: 200px;
}

.addClassBox div {
    margin-bottom: 10px;
}

.box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.musicBox{position: absolute;top:0;left:0;}