
@charset "utf-8";

html, body, ul, li { margin: 0; padding: 0; line-height: 1.2em;height: 100%;}
br {line-height:8px; margin:0px;}

h1, h2, ul, li, p { margin: 0; padding: 0; }
html, body {font-family:georgia, verdana, tahoma, arial, sans-serif; font-size: 0.625em/1.5em; }
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a:hover {text-decoration:none;}

.content{position: fixed;top:0;left:-350px;background-color: #222d32;color: #FFF;min-width: 350px;height: 100%;}
.content h2{position: relative;text-align: center;font-weight: normal;line-height: 60px;background-color: #2C393E;border-radius: 6px;color: #FFF;}
.content h2 a{color: #FFF;cursor: pointer;position: absolute;top:15px;}
.content h2 a:hover{font-size: 30px;}
.content h2 a.home{right:10px;}
.content h2 a.edit{right:40px;}
.content  .swith-bookmarks-btn{position: absolute;margin: auto;top:0;right:-80px;bottom:0;width:80px;height: 220px;line-height: 220px;text-align: center;background-color: #2C393E;border-left: 1px solid #FFF;cursor: pointer;}
.content  .swith-bookmarks-btn i{font-size:180px;}
.content  .swith-bookmarks-btn:hover{opacity: 1;}
.menu ul li {position: relative;display:block;width:350px;padding-top:2px;margin-bottom:5px;list-style:none;overflow:visible;background-color:#2C393E ;}
.menu ul li a i{margin-right: 10px;}

.menu ul li a {display:block;height:40px; line-height: 40px;padding-right: 20px;padding-left: 10px;font-size:14px;color:#FFF;outline:none;    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/font-size: 20px;}
.menu ul li a:hover{border-left: 3px solid #3C8DBC;box-sizing: border-box;}
.menu ul li:hover{background-color: #1E282C;}
.menu ul li .active {background:url(../images/knowledge/on.png) top right no-repeat;}

.menu ul li .inactive {background:url(../images/knowledge/off.png) top right no-repeat;}
.menu ul li ul {display:none; margin-top:-4px;margin-bottom:20px; background-color: #2C3B41; }
.menu ul li ul li:hover{background-color:#293131 ;border-left: none;}
.menu ul li ul li a{font-size: 18px;}
.menu ul li ul li a i{margin-right: 10px;}
.menu ul li ul li ul {margin-bottom:5px;background-color: #4B5D5F;}
.menu ul li ul li {background:none;}
.menu ul li ul li a {display:block;height:34px; line-height: 34px;padding-left: 30px;}
.menu ul li ul li ul li:hover{background-color:#3B3E3E ;}
.menu ul li ul li ul li a {display:block;height:34px; line-height: 34px;padding-left: 50px;font-size: 16px;}

.menu ul li ul li ul li a i{margin-right: 0;position: relative;left:-10px;}
.menu ul li ul li ul li a:hover i{font-size: 18px;}
/*自定义*/
.iframe{display: block;width: 100%;height: 100%;border: none;}



li{list-style: none;}
.mod{display: none;}
.tab-box{height: 100%;}
.tab-box-tit{height: 40px;line-height: 40px;font-size: 18px;background-color: #898989;}
.tab-box-tit a{color: #FFF;}
.tab-box-tit ul{    display: -moz-box; 
    display: -webkit-box; 
    display: box;height: 40px; border: 1px solid #CCC}
.tab-box-tit ul li{    -moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;
text-align: center;position: relative;} 
.tab-box-tit ul li a{	text-decoration: none;display: block;line-height: 40px;height: 40px;
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;}
.tab-box-tit ul li:hover{background: #2C393E; } 
.tab-box-tit ul li.tab-select{border-bottom: 6px solid #3C8DBC;background: #2C393E;box-sizing: border-box;}
.tab-box-con{height: 100%}
.tab-box-con .mod{height: 100%;position: relative;}  

.tab-box-con .mod a{    position: relative;
    display: inline-block;
    width: 33.33%;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;color:#555;    
  text-decoration: none;    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/}
    .tab-box-con .mod a:hover{background: #337ab7;color: #FFF;}

   .closeTab{position: absolute;width: 40px;height: 40px;top:0;right:0;font-size: 30px;color: #FFF;line-height: 40px;cursor: pointer;}
   .closeTab:hover{font-size: 40px;}
   .addBookemarks{position: absolute;width: 40px;height: 40px;top:0;right:40px;font-size: 30px;color: #FFF;line-height: 40px;cursor: pointer;}
	.addBookemarks:hover{font-size: 40px;}


/*收藏网址弹窗样式*/
.addClassBox {
    display: none;
    position: absolute;
    top: -180px;
    left: 0;
    width: 100%;
    height: 180px;
   
    cursor: default;
    z-index: 2000;
    padding: 10px;
    background-color: #000;
/*     filter: alpha(opacity=50);
    opacity: .5;   */  
}
.addForm{text-align: center;}
.addForm-inlineBlock{display: inline-block;width: 600px;}
.red {
    color: red;
    font-size: 16px;
}

.j-alert{display: none;}
.addClassBox form {
    font-size: 16px;
    color: #FFF;
}

.addClassBox form div {
    text-align: left;

}

.addClassBox label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.addClassBox input {
    width: 400px;
    height: 24px;
}

.addClassBox .save-link,
.addClassBox .cancel-link {
    width: 70px;
    height: 30px;
    
}
.save-class{
	width: 70px;
    height: 30px;
    vertical-align: -1px;
}
.addClassBox select {
    width: 100px;
    height: 30px;
    font-size: 16px;
}

.addClassBox select option {
    text-align: center;
}

.add-class-input.short {
    width: 100px;
    font-size: 16px;
}

.addClassBox div {
    margin-bottom: 10px;
}

.box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.note{position: absolute;right: 40px;top:50px;width: 300px;text-indent: 2em;}






