ul{margin: 0;padding: 0;}
audio{display: block;width: 100%;}
h1{font-size: 22px;height: 50px;line-height: 50px;text-align: center;border-bottom: 1px solid #CCC;margin: 0;}
h2{font-size: 16px;height: 30px;line-height: 30px;text-align: left;margin: 0;}
footer{}
.row{margin-left: 0;margin-right: 0;}
    .recordingslist li {
        list-style: none;
        border: 1px solid #CCC;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 6px;
    }
    
    .recordingslist li a {
        vertical-align: 10px;
        display: inline-block;
        height: 37px;
        line-height: 37px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .recordingslist li a:hover {
        border-radius: 10px;
        background-color: #CCC;
    }
    
    .recordingslist li a span {}
    
    .recoder-data {
/*         float: right;
        line-height: 37px; */
        vertical-align: 10px;
        margin-left: 20px;

    }
    
    .li-form {
       margin-top: 10px;
        vertical-align: top;
    }
    
    .li-form .form-control {
        width: 70px;
        display: inline-block;
    }
    
    .li-form .btn {
        margin-left: 10px;
    }
    
    .li-title {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        margin-left: 20px;
    }